.Avatar {
    position: absolute;
    width: 64px;
    height: 64px;
    border-radius: 50px;
    border: 1px solid #F6F9F9;
    left: 94vw;
    z-index: 5;
    box-shadow: 4px 3px #314983;
    transition: filter 0.3s;
    &:hover {
        border: 1px solid #7ddcd9;
        filter: brightness(120%);
        transition: filter 0.3s;
    }

    &:active{
        box-shadow: 2px 1px #314983;
    }
}

.material-symbols-outlined {
    font-size: 34px; 
    -webkit-text-stroke-color: #F7DFBC;
    -webkit-text-stroke-width: 1px;
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
  } 

.gradient{
   background-image:  -webkit-linear-gradient(#314983, #314983);
   background-size: 100%;
   background-repeat: repeat;
   pointer-events: none;
   /* $dark: #314983;
   $success: #6f955f;
   $warning: #ec8527;
   $danger: #f44336;
   // $info: #A5D6BA;
   $info: #7ddcd9; */
   /* Use the text as a mask for the background. */
   /* This will show the gradient as a text color rather than element bg. */
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent; 
   -moz-background-clip: text;
   -moz-text-fill-color: transparent;
}
  .badgeFont {
    -webkit-text-stroke-width: 0px;
    font-size: xx-small;
  }
.UserMenu{
    &__bg{
        background-color: rgba(23, 23, 23, 0.5);
        backdrop-filter: blur(5px);
        border:1px solid #314983;
        box-shadow: inset 6px 6px 1px 0 rgba(234, 234, 234, 0.5), inset -6px -6px 1px 0 rgba(234, 234, 234, 0.5);
    }
}