*{
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5{
  color:black;
  font-family: 'Libre Franklin', sans-serif;
  padding: 0;
  margin: 0;
}



.map {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  border: 8px solid #F6F9F9;
  border-image: linear-gradient(to bottom, #cddad9, #F6F9F9, #F6F9F9, #F6F9F9  #dfedec) 1;
}

.form_container{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

.form_margin{
  /* margin-top: 32px; */
  margin: 32px;
  padding: 32px;
  width: 55vw;
}

.form_padding{
  padding: 32px;
}
.bouncing-image {
  box-shadow:
    0 0 1px 1px #faff78,  /* inner white */
    0 0 3px 3px rgb(255, 157, 0), /* middle magenta */
    0 0 5px 5px rgb(244, 8, 8); /* outer cyan */
  position: relative;
  animation: bounce-squish 1.0s infinite  ease-out;
  transform-origin: bottom center;
}

.bouncing-image-bad {
  box-shadow:
    0 0 1px 1px #faff78,  /* inner white */
    0 0 3px 3px rgb(255, 157, 0), /* middle magenta */
    0 0 5px 5px rgb(244, 8, 8); /* outer cyan */
  position: relative;
  animation: bounce-squish 1.0s infinite  ease-out;
  transform-origin: bottom center;
}

.bouncing-image-good {
  box-shadow:
    0 0 1px 1px #faff78,  /* inner white */
    0 0 3px 3px rgb(194, 255, 63), /* middle magenta */
    0 0 5px 5px rgb(16, 237, 193); /* outer cyan */
  position: relative;
  animation: bounce-squish 1.0s infinite  ease-out;
  transform-origin: bottom center;
}

@keyframes bounce-squish {
  0%{
    transform: translateY(-20px) scaleY(1);
  }
  40% {
    transform: translateY(-5px) scaleY(.9);
  }
  60%{
    transform: translateY(0) scaleY(0.3);
  }
  80%{
    transform: translateY(-5px) scaleY(.9);
  }
  100%{
    transform: translateY(-20px) scaleY(1);
  }
}


@media (max-width: 500px ){
  .form_container{
    display: inline;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    width: 100vw;
  }

  .form_margin{
    /* margin-top: 32px; */
    margin: 0;
    padding: 0;
    width: 101vw;
    border-radius: 0;
  }
  
  .form_padding{
    border-radius: 0;
    padding: 16px;
    width: 101vw;

  }
  .map{
    width: 100vw;
    margin: 0;
    border: 0px solid black;
  }
}