*{
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5{
  font-family: 'Libre Franklin', sans-serif;
  padding: 0;
  margin: 0;
}



.map {
  position: relative;
  width: 90vw;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  border: 8px solid #F6F9F9;
  border-image: linear-gradient(to bottom, #cddad9, #F6F9F9, #F6F9F9, #F6F9F9  #cddad9) 1;
}

.form_container{
  display: grid;
  margin: auto;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 500px ){
  .form_container{
    grid-template-columns: auto;
  }
}